{% extends 'base.html' %}

{% block title %} Bash history client {% endblock %}

{% block style %}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
{% endblock %}

{% block head %}
 {% load static %}
    <script src="{% static '/js/flot/jquery.js' %}" ></script>
    <script src="{% static '/js/flot/jquery.flot.js' %}" ></script>
    <script src="{% static '/js/flot/jquery.flot.categories.js' %}"></script>
    <meta charset="UTF-8">
{% endblock %}

{% block nav_bar %}
    {% include 'includes/stats_nav_bar.html' %}
{% endblock %}

{% block content %}
<form role="form" action='' method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit"  />
</form>

<br><br>
{{ chart.as_html }}

{% endblock %}

