{% extends 'base.html' %}

{% block title %} Bash history client {% endblock %}

{% block style %}
    {% include 'includes/style.html' %}
{% endblock %}

{% block head %}
 {% load static %}
    <script src="{% static '/js/flot/jquery.js' %}" ></script>
    <script src="{% static '/js/flot/jquery.flot.js' %}" ></script>
    <script src="{% static '/js/flot/jquery.flot.categories.js' %}"></script>
    <meta charset="UTF-8">
{% endblock %}

{% block nav_bar %}
    {% include 'includes/core_nav_bar.html' %}
{% endblock %}

{% block content %}
    <font size="5"><b>Client bash history</b></font>
    <br><br>
    <u>Fill in the following field to view a client's bash history</u>
    <form role="form" action='' method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit"  />
    </form>

<br><br>
{{ chart.as_html }}

{% endblock %}

