{% extends 'base.html' %}

{% block title %} Bash history user {% endblock %}

{% block head %}
 {% load static %}
    <script src="{% static '/js/flot/jquery.js' %}" ></script>
    <script src="{% static '/js/flot/jquery.flot.js' %}" ></script>
    <script src="{% static '/js/flot/jquery.flot.categories.js' %}"></script>
    <meta charset="UTF-8">
{% endblock %}

{% block content %}
<form role="form" action='' method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

HELLO IS THIS WORKING???

{{ chart.as_html }}

{% endblock %}
