{% extends 'base.html' %}

{% block title %} List of clients {% endblock %}

{% block style %}
    {% include 'includes/style.html' %}
{% endblock %}

{% block nav_bar %}
    {% include 'includes/client_nav_bar.html' %}
{% endblock %}

{% block content %}
    <font size="5"><b>Current list of clients</b></font>
    <br><br>
    <table style="width:90%" border="1">
     <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Token</th>
      </tr>
    {% for client in client_list %}
    <tr>
        <td>{{client.username}}</td>
        <td>{{client.password}}</td>
        <td>{{client.token}}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}