{% extends 'base.html' %}

{% block title %} List of clients {% endblock %}

{% block style %}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
{% endblock %}

{% block nav_bar %}
    {% include 'includes/client_nav_bar.html' %}
{% endblock %}

{% block content %}
    <table style="width:90%" border="1">
     <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Token</th>
      </tr>
    {% for client in client_list %}
    <tr>
        <td>{{client.username}}</td>
        <td>{{client.password}}</td>
        <td>{{client.token}}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}