{% extends 'base.html' %}

{% block title %} Contact us {% endblock %}

{% block nav_bar %} <br><div style="margin-left:2%"> <b><font size="5">Contact us</font></b> </div> <hr> {% endblock %}

{% block content %}
    <div align="center">
        Contact the team members!
        <br><br>
        Stefan Chu
        <br>
            stefan.chu@siemsite.com
        <br><br>
        Ryan Stanbury
        <br>
            ryan.stanbury@siemsite.com
        <br><br>
        Sylvain Lu
        <br>
            sylvain.lu@siemsite.com
        <br><br>
        Imad Kalboneh
        <br>
            imad.kalboneh@siemsite.com
        <br><br>
        All of us
        <br>
            Office: (905) 382-5968
            <br>
            Fax: (905) 329-7436
            <br>
            all.of.us@siemsite.com
    </div>
{% endblock %}