{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block nav_bar %} <br><div style="margin-left:2%"> <b><font size="5">Homepage</font></b> </div> <hr> {% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        Click on  <a href="{% url 'client' %}">clients</a> to view or manage client information
        <br><br>
        Click on <a href="{% url 'core' %}">core</a> for users' data
    {% else %}
        <a href="{% url 'login' %}">Sign in</a> to see the features of SiemSite!
    {% endif %}
{% endblock %}